﻿@page "/Areas"
@using Microsoft.AspNetCore.Authorization
@using SFM3.Shared.Models
@using System.Linq
@using SFM3.Client.Managers
@using SFM3.Client.Managers.Implementations
@using SFM3.Client.Pages.AccessControl.Modals
@attribute [Authorize]
@inject IGenericManager<Area> AreaManager
@inject HttpClient HttpClient

<MudContainer>
    <MudTable Style="margin-top: 1rem" Items="@areas" Hover="true" Loading="loading" Filter="new Func<Area,bool>(FilterFunc)" FixedFooter="true" FixedHeader="true">
        <ToolBarContent>
            <MudText Typo="Typo.h6">Bereiche</MudText>
            <MudSpacer />
            <MudTooltip Text="Neu">
                <MudIconButton Icon="@Icons.Material.Outlined.Add" OnClick="@(() => InvokeModal(null))" />
            </MudTooltip>
            <MudTooltip Text="Reload">
                <MudIconButton Icon="@Icons.Material.Outlined.Refresh" OnClick="LoadElements" />
            </MudTooltip>
            <MudSpacer />
            <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" />
        </ToolBarContent>
        <HeaderContent>
            <MudTh>ID</MudTh>
            <MudTh>Bezeichnung</MudTh>
            <MudTh></MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="UUID">@context.ID</MudTd>
            <MudTd DataLabel="Name">@context.Name</MudTd>
            <MudTd>
                <MudTooltip Text="Bearbeiten">
                    <MudIconButton Icon="@Icons.Material.Filled.Edit" @onclick="() => InvokeModal(context)" />
                </MudTooltip>
                <MudTooltip Text="Löschen">
                    <MudIconButton Icon="@Icons.Material.Filled.Delete" @onclick="() => DeleteElement(context)" />
                </MudTooltip>
            </MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </MudTable>
</MudContainer>

@code {
    private List<Area> areas = new List<Area>();
    private bool loading;
    private string searchString = "";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await LoadElements();
        }
        catch (Exception e)
        {
            await DialogService.ShowMessageBox("Error", "Es ist ein Fehler aufgetreten");
            await DialogService.ShowMessageBox("Error", e.ToString());
        }
    }

    private bool FilterFunc(Area element)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;

        foreach (var prop in element.GetType().GetProperties())
        {
            if (prop.GetValue(element)?.ToString().Contains(searchString, StringComparison.OrdinalIgnoreCase) ?? false)
                return true;
        }

        return false;
    }

    private async Task LoadElements()
    {
        loading = true;
        StateHasChanged();
        areas = (await AreaManager.GetAll()).ToList();
        StateHasChanged();
        loading = false;
    }

    private async Task DeleteElement(Area element)
    {
        if (await DialogService.ShowMessageBox("Löschen?", "Möchten Sie diesen Bereich wirklich löschen?", yesText: "Ja", cancelText: "Abbrechen") == true)
        {
            areas.Remove(element);
            await AreaManager.Delete(element.ID);
        }
    }

    private async Task InvokeModal(Area element)
    {
        var parameters = new DialogParameters();

        if (element != null)
            parameters.Add(nameof(AddEditAreasModal.Element), element);

        var dialog = DialogService.Show<AddEditAreasModal>("Bereich hinzufügen", parameters);
        if (!(await dialog.Result).Cancelled)
        {
            await LoadElements();
            StateHasChanged();
        }
    }
}
