﻿@page "/employees"
@using Microsoft.AspNetCore.Authorization
@using SFM3.Shared.Models
@using System.Linq
@using SFM3.Client.Managers
@using SFM3.Client.Managers.Implementations
@using SFM3.Client.Pages.AccessControl.Modals
@attribute [Authorize]
@inject IGenericManager<Employee> EmployeeManager
@inject HttpClient HttpClient

<MudContainer>
    <MudTable Style="margin-top: 1rem" Items="@employees" Hover="true" Loading="loading" Filter="new Func<Employee,bool>(FilterFunc)" FixedFooter="true" FixedHeader="true">
        <ToolBarContent>
            <MudText Typo="Typo.h6">Mitarbeiter</MudText>
            <MudSpacer />
            <MudTooltip Text="Neu">
                <MudIconButton Icon="@Icons.Material.Outlined.Add" OnClick="@(() => InvokeModal(null))" />
            </MudTooltip>
            <MudTooltip Text="Reload">
                <MudIconButton Icon="@Icons.Material.Outlined.Refresh" OnClick="LoadElements" />
            </MudTooltip>
            <MudSpacer />
            <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" />
        </ToolBarContent>
        <HeaderContent>
            <MudTh>ID</MudTh>
            <MudTh>Kürzel</MudTh>
            <MudTh>Name</MudTh>
            <MudTh>Büro</MudTh>
            <MudTh>Zugänglich</MudTh>
            <MudTh></MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Nr">@context.ID</MudTd>
            <MudTd DataLabel="Sign">@context.Short</MudTd>
            <MudTd DataLabel="Name">@context.FullName</MudTd>
            <MudTd DataLabel="Office">@context.Office?.Name</MudTd>
            <MudTd DataLabel="Accessable">@(string.Join(", ", context.Accessable?.Select(a => a.Name) ?? new string[] { "" }))</MudTd>
            <MudTd>
                <MudTooltip Text="Bearbeiten">
                    <MudIconButton Icon="@Icons.Material.Filled.Edit" @onclick="() => InvokeModal(context)" />
                </MudTooltip>
                <MudTooltip Text="Löschen">
                    <MudIconButton Icon="@Icons.Material.Filled.Delete" @onclick="() => DeleteElement(context)" />
                </MudTooltip>
            </MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </MudTable>
</MudContainer>

@code {
    private List<Employee> employees = new List<Employee>();
    private bool loading;
    private string searchString = "";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await LoadElements();
        }
        catch (Exception e)
        {
            await DialogService.ShowMessageBox("Error", "Es ist ein Fehler aufgetreten");
            await DialogService.ShowMessageBox("Error", e.ToString());
        }
    }

    private bool FilterFunc(Employee element)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;

        foreach (var prop in element.GetType().GetProperties())
        {
            if (prop.GetValue(element)?.ToString().Contains(searchString, StringComparison.OrdinalIgnoreCase) ?? false)
                return true;
        }

        return false;
    }

    private async Task LoadElements()
    {
        loading = true;
        StateHasChanged();
        employees = (await EmployeeManager.GetAll()).ToList();
        StateHasChanged();
        loading = false;
    }

    private async Task DeleteElement(Employee element)
    {
        if (await DialogService.ShowMessageBox("Löschen?", "Möchten Sie diesen Mitarbeiter wirklich löschen?", yesText: "Ja", cancelText: "Abbrechen") == true)
        {
            employees.Remove(element);
            await EmployeeManager.Delete(element.ID);
        }
    }

    private async Task InvokeModal(Employee element)
    {
        var parameters = new DialogParameters();

        if (element != null)
            parameters.Add(nameof(AddEditEmployeesModal.Element), element);

        var dialog = DialogService.Show<AddEditEmployeesModal>("Mitarbeiter hinzufügen", parameters);
        if (!(await dialog.Result).Cancelled)
        {
            await LoadElements();
            StateHasChanged();
        }
    }
}
