﻿@using SFM3.Client.Managers
@using SFM3.Client.Managers.Implementations
@inject IGenericManager<Room> RoomManager
@inject IGenericManager<Device> DeviceManager

<EditForm Model="Element" OnValidSubmit="Submit">
    <MudDialog>
        <DialogContent>
            <MudGrid>
                <MudItem xs="12" md="6">
                    <MudTextField T="string" For="@(() => Element.Name)" @bind-Value="Element.Name" Label="Bezeichnung" />
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudSelect T="Room" Label="Verbunden" Variant="Variant.Filled" AnchorOrigin="Origin.BottomCenter" MultiSelection="true" @bind-SelectedValues="Element.Connected" Converter="roomConverter">
                        @foreach (var room in rooms)
                        {
                            <MudSelectItem Value="room">@room.Name</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudSelect T="Device" Label="Geräte" Variant="Variant.Filled" AnchorOrigin="Origin.BottomCenter" MultiSelection="true" @bind-SelectedValues="Element.Devices" Converter="deviceConverter">
                        @foreach (var device in devices)
                        {
                            <MudSelectItem Value="device">@device.Name</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
            </MudGrid>
        </DialogContent>
        <DialogActions>
            <MudButton DisableElevation Variant="Variant.Filled" OnClick="Cancel">Abbrechen</MudButton>
            <MudButton ButtonType="ButtonType.Submit">Speichern</MudButton>
        </DialogActions>
    </MudDialog>
</EditForm>

@code {
    [Parameter] public Room Element { get; set; } = new Room();
    [CascadingParameter] private MudDialogInstance MudDialog { get; set; }

    private Converter<Room> roomConverter = new Converter<Room> { SetFunc = value => value.Name };
    private Converter<Device> deviceConverter = new Converter<Device> { SetFunc = value => value.Name };

    private IEnumerable<Room> rooms = new List<Room>();
    private IEnumerable<Device> devices = new List<Device>();

    protected override async Task OnInitializedAsync()
    {
        rooms = (await RoomManager.GetAll()).Where(r => r.ID != Element.ID);
        devices = (await DeviceManager.GetAll());
    }

    private void Cancel()
    {
        MudDialog.Cancel();
    }

    private void Submit()
    {
        if (Element.ID == 0)
            RoomManager.Create(Element);
        else
            RoomManager.Update(Element);

        MudDialog.Close();
    }
}
