﻿@using SFM3.Client.Managers
@using SFM3.Client.Managers.Implementations
@inject IGenericManager<Device> DeviceManager

<EditForm Model="Element" OnValidSubmit="Submit">
    <MudDialog>
        <DialogContent>
            <MudGrid>
                <MudItem xs="12" md="6">
                    <MudTextField T="string" For="@(() => Element.Name)" @bind-Value="Element.Name" Label="Bezeichnung" />
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudCheckBox For="@(() => Element.State)" @bind-Checked="@Element.State" @bind-Value="Element.State">An/Aus</MudCheckBox>
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudSelect T="DeviceType" Label="Typ" Variant="Variant.Filled" AnchorOrigin="Origin.BottomCenter" @bind-Value="Element.Type">
                    </MudSelect>
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudTextField T="int" For="@(() => Element.HardwareID)" @bind-Value="Element.HardwareID" Label="Hardware ID" />
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudTextField T="string" For="@(() => Element.Port)" @bind-Value="Element.Port" Label="Port" />
                </MudItem>
            </MudGrid>
        </DialogContent>
        <DialogActions>
            <MudButton DisableElevation Variant="Variant.Filled" OnClick="Cancel">Abbrechen</MudButton>
            <MudButton ButtonType="ButtonType.Submit">Speichern</MudButton>
        </DialogActions>
    </MudDialog>
</EditForm>

@code {
    [Parameter] public Device Element { get; set; } = new Device();
    [CascadingParameter] private MudDialogInstance MudDialog { get; set; }

    private void Cancel()
    {
        MudDialog.Cancel();
    }

    private void Submit()
    {
        if (Element.ID == 0)
            DeviceManager.Create(Element);
        else
            DeviceManager.Update(Element);

        MudDialog.Close();
    }
}
