﻿@page "/Devices"
@using Microsoft.AspNetCore.Authorization
@using SFM3.Shared.Models
@using System.Linq
@using SFM3.Client.Managers
@using SFM3.Client.Managers.Implementations
@using SFM3.Client.Pages.DeviceControl.Modals
@attribute [Authorize]
@inject IGenericManager<Device> DeviceManager
@inject HttpClient HttpClient

<MudContainer>
    <MudTable Style="margin-top: 1rem" Items="@devices" Hover="true" Loading="loading" Filter="new Func<Device,bool>(FilterFunc)" FixedFooter="true" FixedHeader="true">
        <ToolBarContent>
            <MudText Typo="Typo.h6">Geräte</MudText>
            <MudSpacer />
            <MudTooltip Text="Neu">
                <MudIconButton Icon="@Icons.Material.Outlined.Add" OnClick="@(() => InvokeModal(null))" />
            </MudTooltip>
            <MudTooltip Text="Reload">
                <MudIconButton Icon="@Icons.Material.Outlined.Refresh" OnClick="LoadElements" />
            </MudTooltip>
            <MudSpacer />
            <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" />
        </ToolBarContent>
        <HeaderContent>
            <MudTh>ID</MudTh>
            <MudTh>Bezeichnung</MudTh>
            <MudTh>Status</MudTh>
            <MudTh>Typ</MudTh>
            <MudTh>Hardware ID</MudTh>
            <MudTh>Port</MudTh>
            <MudTh></MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="UUID">@context.ID</MudTd>
            <MudTd DataLabel="Name">@context.Name</MudTd>
            <MudTd DataLabel="State">@(context.State ? "An" : "Aus")</MudTd>
            <MudTd DataLabel="Type">@context.Type.ToString()</MudTd>
            <MudTd DataLabel="HardwareID">@context.HardwareID</MudTd>
            <MudTd DataLabel="Port">@context.Port</MudTd>
            <MudTd>
                <MudTooltip Text="Bearbeiten">
                    <MudIconButton Icon="@Icons.Material.Filled.Edit" @onclick="() => InvokeModal(context)" />
                </MudTooltip>
                <MudTooltip Text="Löschen">
                    <MudIconButton Icon="@Icons.Material.Filled.Delete" @onclick="() => DeleteElement(context)" />
                </MudTooltip>
            </MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </MudTable>
</MudContainer>

@code {
    private List<Device> devices = new List<Device>();
    private bool loading;
    private string searchString = "";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await LoadElements();
        }
        catch (Exception e)
        {
            await DialogService.ShowMessageBox("Error", "Es ist ein Fehler aufgetreten");
            await DialogService.ShowMessageBox("Error", e.ToString());
        }
    }

    private bool FilterFunc(Device element)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;

        foreach (var prop in element.GetType().GetProperties())
        {
            if (prop.GetValue(element)?.ToString().Contains(searchString, StringComparison.OrdinalIgnoreCase) ?? false)
                return true;
        }

        return false;
    }

    private async Task LoadElements()
    {
        loading = true;
        StateHasChanged();
        devices = (await DeviceManager.GetAll()).ToList();
        StateHasChanged();
        loading = false;
    }

    private async Task DeleteElement(Device element)
    {
        if (await DialogService.ShowMessageBox("Löschen?", "Möchten Sie dieses Gerät wirklich löschen?", yesText: "Ja", cancelText: "Abbrechen") == true)
        {
            devices.Remove(element);
            await DeviceManager.Delete(element.ID);
        }
    }

    private async Task InvokeModal(Device element)
    {
        var parameters = new DialogParameters();

        if (element != null)
            parameters.Add(nameof(AddEditDevicesModal.Element), element);

        var dialog = DialogService.Show<AddEditDevicesModal>("Gerät hinzufügen", parameters);
        if (!(await dialog.Result).Cancelled)
        {
            await LoadElements();
            StateHasChanged();
        }
    }
}
