﻿@using SFM3.Client.Managers
@using SFM3.Client.Managers.Implementations
@inject IGenericManager<Employee> EmployeeManager
@inject IGenericManager<Room> RoomManager
@inject IGenericManager<Area> AreaManager

<EditForm Model="Element" OnValidSubmit="Submit">
    <MudDialog>
        <DialogContent>
            <MudGrid>
                <MudItem xs="12" md="6">
                    <MudTextField T="string" For="@(() => Element.Short)" @bind-Value="Element.Short" Label="Kürzel" />
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudTextField T="string" For="@(() => Element.FullName)" @bind-Value="Element.FullName" Label="Name" />
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudSelect T="Room" Label="Büro" Variant="Variant.Filled" AnchorOrigin="Origin.BottomCenter" @bind-Value="Element.Office" Converter="roomConverter">
                        @foreach (var office in rooms)
                        {
                            <MudSelectItem Value="office">@office.Name</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudSelect T="Area" Label="Zugänglich" Variant="Variant.Filled" AnchorOrigin="Origin.BottomCenter" MultiSelection="true" @bind-SelectedValues="Element.Accessable" Converter="areaConverter">
                        @foreach (var area in areas)
                        {
                            <MudSelectItem Value="area">@area.Name</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
            </MudGrid>
        </DialogContent>
        <DialogActions>
            <MudButton DisableElevation Variant="Variant.Filled" OnClick="Cancel">Abbrechen</MudButton>
            <MudButton ButtonType="ButtonType.Submit">Speichern</MudButton>
        </DialogActions>
    </MudDialog>
</EditForm>

@code {
    [Parameter] public Employee Element { get; set; } = new Employee();
    [CascadingParameter] private MudDialogInstance MudDialog { get; set; }

    private Converter<Room> roomConverter = new Converter<Room> { SetFunc = value => value.Name };
    private Converter<Area> areaConverter = new Converter<Area> { SetFunc = value => value.Name };

    private IEnumerable<Room> rooms = new List<Room>();
    private IEnumerable<Area> areas = new List<Area>();

    protected override async Task OnInitializedAsync()
    {
        rooms = await RoomManager.GetAll();
        areas = await AreaManager.GetAll();
    }

    private void Cancel()
    {
        MudDialog.Cancel();
    }

    private void Submit()
    {
        if (Element.ID == 0)
            EmployeeManager.Create(Element);
        else
            EmployeeManager.Update(Element);

        MudDialog.Close();
    }
}
