﻿@using SFM3.Client.Managers
@using SFM3.Client.Managers.Implementations
@inject IGenericManager<Chip> ChipManager
@inject IGenericManager<Employee> EmployeeManager

<EditForm Model="Element" OnValidSubmit="Submit">
    <MudDialog>
        <DialogContent>
            <MudGrid>
                <MudItem xs="12" md="6">
                    <MudTextField T="string" For="@(() => Element.Code)" @bind-Value="Element.Code" Label="UUID" />
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudTextField T="string" For="@(() => Element.Name)" @bind-Value="Element.Name" Label="Bezeichnung" />
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudSelect T="Employee" Label="Mitarbeiter" Variant="Variant.Filled" AnchorOrigin="Origin.BottomCenter" @bind-Value="Element.Employee" Converter="employeeConverter">
                        @foreach (var employee in employees)
                        {
                            <MudSelectItem Value="employee">@employee.FullName</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
            </MudGrid>
        </DialogContent>
        <DialogActions>
            <MudButton DisableElevation Variant="Variant.Filled" OnClick="Cancel">Abbrechen</MudButton>
            <MudButton ButtonType="ButtonType.Submit">Speichern</MudButton>
        </DialogActions>
    </MudDialog>
</EditForm>

@code {
    [Parameter] public Chip Element { get; set; } = new Chip();
    [CascadingParameter] private MudDialogInstance MudDialog { get; set; }

    private IEnumerable<Employee> employees = new List<Employee>();

    private Converter<Employee> employeeConverter = new Converter<Employee> { SetFunc = value => value.FullName };

    protected override async Task OnInitializedAsync()
    {
        employees = await EmployeeManager.GetAll();
    }

    private void Cancel()
    {
        MudDialog.Cancel();
    }

    private void Submit()
    {
        if (Element.ID == 0)
            ChipManager.Create(Element);
        else
            ChipManager.Update(Element);

        MudDialog.Close();
    }
}
