﻿@using SFM3.Client.Managers
@using SFM3.Client.Managers.Implementations
@inject IGenericManager<Area> AreaManager

<EditForm Model="Element" OnValidSubmit="Submit">
    <MudDialog>
        <DialogContent>
            <MudGrid>
                <MudItem xs="12" md="6">
                    <MudTextField T="string" For="@(() => Element.Name)" @bind-Value="Element.Name" Label="Bezeichnung" />
                </MudItem>
            </MudGrid>
        </DialogContent>
        <DialogActions>
            <MudButton DisableElevation Variant="Variant.Filled" OnClick="Cancel">Abbrechen</MudButton>
            <MudButton ButtonType="ButtonType.Submit">Speichern</MudButton>
        </DialogActions>
    </MudDialog>
</EditForm>

@code {
    [Parameter] public Area Element { get; set; } = new Area();
    [CascadingParameter] private MudDialogInstance MudDialog { get; set; }

    private void Cancel()
    {
        MudDialog.Cancel();
    }

    private void Submit()
    {
        if (Element.ID == 0)
            AreaManager.Create(Element);
        else
            AreaManager.Update(Element);

        MudDialog.Close();
    }
}
