﻿@page "/login/{ReturnUrl?}"
@using Client.Shared.Login
@using SFM3.Client.Services
@using SFM3.Shared.Models.Authentication
@layout LoginLayout
@inject NavigationManager NavigationManager
@inject CustomStateProvider AuthStateProvider

<EditForm Model="LoginRequest" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <MudText Typo="Typo.h4" GutterBottom="true">Sign In</MudText>

    <MudText>Don't have an account? <MudLink Href="/register">Sign Up</MudLink></MudText>

    <MudTextField @bind-Value="LoginRequest.Username" T="string" Label="Username" Variant="Variant.Outlined" Class="my-6"></MudTextField>
    <ValidationMessage For="@(() => LoginRequest.Username)" />

    <MudTextField @bind-Value="LoginRequest.Password" Label="Password" Variant="Variant.Outlined" InputType="@PasswordInput" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="TogglePasswordVisibility" />
    <ValidationMessage For="@(() => LoginRequest.Password)" />

    <div Class="d-flex justify-space-between align-center">
        <MudCheckBox @bind-Value="LoginRequest.RememberMe" T="bool" Label="Remember me" Color="Color.Primary" Class="ml-n1 my-3"></MudCheckBox>
        <MudLink Href="/forgot-password">Forgot Password?</MudLink>
    </div>

    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" FullWidth="true">Sign In</MudButton>

    <label class="text-danger">@Error</label>
    <NavLink href="register">
        <h6 class="font-weight-normal text-center">Create account</h6>
    </NavLink>
</EditForm>

@code {
    public LoginRequest LoginRequest = new();

    [Parameter]
    public string ReturnUrl { get; set; }

    public string Password { get; set; } = "";

    public bool PasswordVisibility;
    public InputType PasswordInput = InputType.Password;
    public string PasswordInputIcon = Icons.Material.Filled.VisibilityOff;

    public string Error { get; set; }

    public async void OnValidSubmit()
    {
        Error = null;
        try
        {
            await AuthStateProvider.Login(LoginRequest);
            NavigationManager.NavigateTo(ReturnUrl ?? "");
        }
        catch (Exception ex)
        {
            Error = ex.Message;
        }
    }

    public void TogglePasswordVisibility()
    {
        if (PasswordVisibility)
        {
            PasswordVisibility = false;
            PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
            PasswordInput = InputType.Password;
        }
        else
        {
            PasswordVisibility = true;
            PasswordInputIcon = Icons.Material.Filled.Visibility;
            PasswordInput = InputType.Text;
        }
    }
}