﻿@page "/register"
@using Client.Shared.Login
@using SFM3.Client.Services
@using SFM3.Shared.Models.Authentication
@layout LoginLayout
@inject NavigationManager NavigationManager
@inject CustomStateProvider AuthStateProvider

<EditForm Model="RegisterRequest" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <MudText Typo="Typo.h4" GutterBottom="true">Sign Up</MudText>

    <MudTextField @bind-Value="RegisterRequest.Username" T="string" Label="Username" Variant="Variant.Outlined" Class="my-6"></MudTextField>
    <ValidationMessage For="@(() => RegisterRequest.Username)" />

    <MudTextField Disabled="true" T="string" Label="E-Mail" Variant="Variant.Outlined"></MudTextField>

    <MudTextField @bind-Value="RegisterRequest.Password" Label="Password" Variant="Variant.Outlined" InputType="@PasswordInput" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="TogglePasswordVisibility" />
    <ValidationMessage For="@(() => RegisterRequest.Password)" />
    <MudTextField @bind-Value="RegisterRequest.PasswordConfirm" Label="Confirm Password" Variant="Variant.Outlined" InputType="@PasswordInput" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="TogglePasswordVisibility" />
    <ValidationMessage For="@(() => RegisterRequest.PasswordConfirm)" />

    <MudCheckBox @bind-Checked="@AgreeToTerms" Label="I agree to the terms and privacy" Color="Color.Primary" Class="ml-n1 my-3"></MudCheckBox>

    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!AgreeToTerms)" Size="Size.Large" FullWidth="true">Register</MudButton>

    <label class="text-danger">@Error</label>
    <NavLink href="login">
        <h6 class="font-weight-normal text-center">Already have an account? Click here to login</h6>
    </NavLink>
</EditForm>

@code {
    public RegisterRequest RegisterRequest = new();

    public string Password { get; set; } = "";

    public bool AgreeToTerms { get; set; }

    public bool PasswordVisibility;
    public InputType PasswordInput = InputType.Password;
    public string PasswordInputIcon = Icons.Material.Filled.VisibilityOff;

    public string Error { get; set; }

    public async void OnValidSubmit()
    {
        Error = null;
        try
        {
            await AuthStateProvider.Register(RegisterRequest);
            NavigationManager.NavigateTo("/login");
        }
        catch (Exception ex)
        {
            Error = ex.Message;
        }
    }

    public void TogglePasswordVisibility()
    {
        if (PasswordVisibility)
        {
            PasswordVisibility = false;
            PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
            PasswordInput = InputType.Password;
        }
        else
        {
            PasswordVisibility = true;
            PasswordInputIcon = Icons.Material.Filled.Visibility;
            PasswordInput = InputType.Text;
        }
    }
}