﻿@inherits LayoutComponentBase

<MudThemeProvider Theme="@(new MudBlazorAdminDashboard())" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar>
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudText Typo="Typo.h5">Smart Facility Management</MudText>
        <MudSpacer />
        <MudIconButton OnClick="ToggleMode" Style="margin-right: 1rem" Icon="@(darkMode ? Icons.Material.Filled.LightMode : Icons.Material.Filled.DarkMode)" />
        <MudAvatar>@(userName?.First() ?? ' ')</MudAvatar>
    </MudAppBar>
    <MudDrawer @bind-Open="@_drawerOpen">
        <NavMenu />
    </MudDrawer>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Medium">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>
@code {
    bool _drawerOpen = true;
    private bool darkMode;

    private string userName;

    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationState {  get; set; }

    protected override async Task OnInitializedAsync()
    {
        userName = (await AuthenticationState).User.Identity.Name;
    }

    private void ToggleMode()
    {
        darkMode = !darkMode;
    }

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}