﻿<MudNavMenu>
    <MudText Typo="Typo.h4" Style="margin-top: 0.5rem; text-align: center" Class="px-4">SFM</MudText>
    <MudDivider Class="my-2" />
    <MudNavLink Href="/">Dashboard</MudNavLink>
    <MudNavGroup Title="Zugang" Expanded="true">
        <MudNavLink Href="/employees">Mitarbeiter</MudNavLink>
        <MudNavLink Href="/areas">Bereiche</MudNavLink>
        <MudNavLink Href="/chips">Chips</MudNavLink>
    </MudNavGroup>
    <MudNavGroup Title="Steuerung" Expanded="true">
        <MudNavLink Href="/rooms">Räume</MudNavLink>
        <MudNavLink Href="/devices">Geräte</MudNavLink>
    </MudNavGroup>
    <MudNavLink Href="/about">Kontakt</MudNavLink>
</MudNavMenu>